---

---

<section
  class="fade-in flex flex-col items-center justify-center gap-1 py-10 font-light text-[color:--font-body-color]"
>
  <p class="text-center text-lg">박상윤 & 육천문</p>
  <p class="text-center text-lg">결혼합니다.</p>
  <br />
  <p class="text-center text-lg">
    햇살 좋은 어느 날,
  </p>
  <p class="text-center text-lg">
    두 사람이 하나의 길을 걷기로
  </p>
  <p class="text-center text-lg">
    약속했습니다.
  </p>
  <p class="text-center text-lg">
    따뜻한 시선으로 지켜봐 주시고
  </p>
  <p class="text-center text-lg">
    축복해 주세요.
  </p>
  <p class="text-center text-lg">
    결혼식은 신부의 고향인 중국에서
  </p>
  <p class="text-center text-lg">
    조용히 진행됩니다.
  </p>
  <p class="text-center text-lg">
    직접 모시지 못하지만,
  </p>
  <p class="text-center text-lg">
    마음으로 함께해주시면 더없는
  </p>
  <p class="text-center text-lg">
    기쁨이겠습니다.
  </p>

  <br />
  <p class="text-center text-lg">
    2025년 9월 14일
  </p>
  <p class="text-center text-lg">
    난징 Golden Eagle International Hotel
  </p>

  <hr class="m-10 w-10 border-slate-400" />
  <div class="flex gap-5">
    <div class="flex flex-col items-center">
      <p class="font-medium"><span class="black text-sm">신랑</span> 박상윤</p>
      <p>박진현 · 하수경의 아들</p>
    </div>
    <div class="flex flex-col items-center">
      <p class="font-medium"><span class="black text-sm">신부</span> 육천문</p>
      <p>육위경 · 왕영의 딸</p>
    </div>
  </div>
</section>
