---

---

<section
  class="fade-in flex flex-col items-center justify-center gap-1 py-10 font-light text-[color:--font-body-color]"
>
  <p class="text-center text-lg">함께 맞이하는 여섯 번째 여름,</p>
  <p class="text-center text-lg">저희 두 사람 결혼합니다.</p>
  <br />
  <p class="text-center text-lg">
    두 사람의 뜻에 따라 <span class="font-bold">중국의</span>
  </p>
  <p class="text-center text-lg font-bold">
    성당에서 혼배성사로 진행하게 되었습니다.
  </p>
  <p class="text-center text-lg">
    고마운 분들을 모시고 직접 인사를 드리지 못해
  </p>
  <p class="text-center text-lg">대단히 송구스럽게 생각하오며</p>
  <p class="text-center text-lg">
    멀리서 마음으로 축하해주시면 감사하겠습니다.
  </p>
  <br />
  <p class="text-center text-lg">
    예쁘게 잘 사는 모습으로 축하에 보답하겠습니다.
  </p>
  <hr class="m-10 w-10 border-slate-400" />
  <div class="flex gap-5">
    <div class="flex flex-col items-center">
      <p class="font-medium">박상윤</p>
      <p>박진현 · 하수경의 아들</p>
    </div>
    <div class="flex flex-col items-center">
      <p class="font-medium">육천문</p>
      <p>육위경 · 왕영의 딸</p>
    </div>
  </div>
</section>
