<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, user-scalable=no"
    />
    <link
      rel="preload"
      as="font"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
    />
    <link
      rel="preload"
      as="font"
      href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap"
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <!-- <meta property="og:image" content="https://sang-yoon.github.io/og.png" /> -->
    <!-- <meta name="twitter:image" content="https://sang-yoon.github.io/og.png" /> -->
    <!-- <meta property="og:url" content="https://sang-yoon.github.io" /> -->
    <meta property="og:type" content="website" />
    <meta
      name="twitter:description"
      content="2025.09.14(일) 18:18, 중국에서 혼배성사로 진행합니다."
    />
    <meta
      property="og:description"
      content="2025.09.14(일) 18:18, 중국에서 혼배성사로 진행합니다."
    />
    <meta property="og:title" content="박상윤 ❤️ 육천문 결혼합니다" />
    <meta name="twitter:title" content="박상윤 ❤️ 육천문 결혼합니다" />
    <title>박상윤 ❤️ 육천문 결혼합니다</title>
  </head>
  <body class="bg-[color:--main-bg]">
    <main class="m-auto flex w-full max-w-md flex-col">
      <slot />
    </main>
  </body>
</html>
